@model LightLib.Web.Models.Catalog.AssetDetailModel
@{
    ViewBag.Title = @Model.Title;
}
<section>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img class="detailImage" src="@ViewData["UrlPrefix"]/images/@Model.ImageUrl" />
                </div>
            </div>
            <div class="col-md-4">
                <p id="itemTitle">@Model.Title</p>
                <p id="itemAuthor">@Model.AuthorOrDirector</p>
                <p id="itemStatus">@Model.Status</p>
                <p id="itemType">@Model.Type</p>
                <p id="itemLocation">Current Location: @Model.CurrentLocation</p>
                @if (@Model.Status == "Checked Out")
                {
                    <p id="itemPatron">Checked Out By: @Model.PatronName</p>
                }

                @if (@Model.Status != "Lost")
                {
                    @if (@Model.Status == "Available")
                    {
                        <p><button class="btn btn-m btn-info" onclick="window.location.href='@ViewData["UrlPrefix"]/Catalog/Checkout?Id=@Model.AssetId';"> Check Out </button></p>
                    }

                    @if (@Model.Status == "Checked Out")
                    {
                        <p><button class="btn btn-m btn-success" onclick="window.location.href='@ViewData["UrlPrefix"]/Catalog/Checkin?assetId=@Model.AssetId';"> Check In </button></p>
                        <p><button class="btn btn-m btn-warning" onclick="window.location.href='@ViewData["UrlPrefix"]/Catalog/Hold?assetId=@Model.AssetId';"> Place Hold </button></p>
                        @*<p><a class="btn btn-m btn-success" role="button" asp-controller="Catalog" asp-action="CheckIn" asp-route-id="@Model.AssetId">Check In</a></p>
                        <p><a class="btn btn-m btn-warning" role="button" asp-controller="Catalog" asp-action="Hold" asp-route-id="@Model.AssetId">Place Hold</a></p>*@
                    }
                    <p><button class="btn btn-m btn-danger" onclick="window.location.href='@ViewData["UrlPrefix"]/Catalog/MarkLost?assetId=@Model.AssetId';">Mark Item Lost</button></p>
                    @*<p><a class="btn btn-m btn-danger" role="button" asp-controller="Catalog" asp-action="MarkLost" asp-route-id="@Model.AssetId">Mark Item Lost</a></p>*@
                }
                else
                {
                    <p>This item has been lost. It cannot be checked out.</p>
                    <p><button class="btn btn-m btn-success" onclick="window.location.href='@ViewData["UrlPrefix"]/Catalog/MarkFound?assetId=@Model.AssetId';">Mark Item Found</button></p>
                    @*<p><a class="btn btn-m btn-success" role="button" asp-controller="Catalog" asp-action="MarkFound" asp-route-id="@Model.AssetId">Mark Item Found</a></p>*@
                }
            </div>
            <div class="col-md-4 detailInfo">
                <table>
                    <tr>
                        <td class="itemLabel">Published Number: </td>
                        <td class="itemValue">@Model.Year</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Replacement Cost: </td>
                        <td class="itemValue">€@Model.Cost</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<hr />

<section>
    <div class="row">
        <div class="col-lg-6">
            <h4>Checkout History</h4>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Date Loaned</th>
                        <th>Date Returned</th>
                        <th>Card Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var checkout in @Model.CheckoutHistory)
                    {
                        <tr>
                            <td>
                                @checkout.CheckedOut
                            </td>
                            <td>
                                @checkout.CheckedIn
                            </td>
                            <td>
                                @checkout.LibraryCard.Id
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h4>Current Holds</h4>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Hold Placed</th>
                        <th>Patron</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hold in @Model.CurrentHolds)
                    {
                        <tr>
                            <td>
                                @hold.HoldPlaced
                            </td>
                            <td>
                                @hold.LibraryCard.Patron.FirstName @hold.LibraryCard.Patron.LastName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<hr />
